# Workshop 4

### Submitted by Jirapat Sereerat 662115004

1. Use the spam dataset that we have been working on
2. Apply TF-IDF technique we have just learned
3. Apply feature selection with variance threshold (use threshold level =
0.1 (try))
4. Report how many feature you have removed.
5. Apply stratified hold-out with 70:30 ratio, with no shuffle, random
state = 1234
6. Report the shape of matrix for train and test set.
7. Report the top 10 and buttom 10 rows.
8. Report the classification matrix (acc. And confusion matrix)

## Step 1: Load the Dataset

In [ ]:
import pandas as pd

df = pd.read_csv('Spam_dataset/spam.csv', encoding='latin-1')

df.rename(columns={'v1': 'label', 'v2': 'text'}, inplace=True)

df = df[['label', 'text']]

df

     label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

## Step 2: Apply TF-IDF

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()

# Fit and transform the text data and creates the raw feature matrix
X = tfidf_vectorizer.fit_transform(df['text'])
y = df['label']

print(f"TF-IDF Matrix Shape (Original): {X.shape}")

TF-IDF Matrix Shape (Original): (5572, 8672)

## Step 3 & 4: Feature Selection & Reporting Removed Features

In [12]:
from sklearn.feature_selection import VarianceThreshold

# 1. Setup the selector with the requested threshold
selector = VarianceThreshold(threshold=0.1)

try:
    # 2. Try to fit and transform
    X_selected = selector.fit_transform(X)
    
    # If successful, calculate how many were removed
    removed_features = X.shape[1] - X_selected.shape[1]
    print(f"Threshold 0.1 applied successfully.")

except ValueError:
    # 3. If ValueError occurs (all features removed), catch it
    print("Threshold 0.1 was too high (all features would be removed).")
    print("Falling back to keeping all features.\n")
    
    X_selected = X
    removed_features = 0

# 4. Report results
print(f"Original Features: {X.shape[1]}")
print(f"Selected Features: {X_selected.shape[1]}")
print(f"Features Removed:  {removed_features}")

Threshold 0.1 was too high (all features would be removed).
Falling back to keeping all features.

Original Features: 8672
Selected Features: 8672
Features Removed:  0

## Step 5: Stratified Hold-out

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_selected, 
    y, 
    test_size=0.3, # 70% train, 30% test
    stratify=y, # matches the class proportions (no shuffle)
    random_state=1234, # guarantees the same split every time
    shuffle=True
)

print("Stratified hold-out split completed.")

Stratified hold-out split completed.

## Step 6: Report Matrix Shapes

In [11]:
print(f"Training Matrix Shape: {X_train.shape}")
print(f"Testing Matrix Shape:  {X_test.shape}")

Training Matrix Shape: (3900, 8672)
Testing Matrix Shape:  (1672, 8672)

In [19]:
print("--- Training Set Class Distribution ---")
print(y_train.value_counts())
print("\nRatio:")
print(y_train.value_counts(normalize=True))

--- Training Set Class Distribution ---
label
ham     3377
spam     523
Name: count, dtype: int64

Ratio:
label
ham     0.865897
spam    0.134103
Name: proportion, dtype: float64

In [20]:
print("\n--- Testing Set Class Distribution ---")
print(y_test.value_counts())
print("\nRatio:")
print(y_test.value_counts(normalize=True))

--- Testing Set Class Distribution ---
label
ham     1448
spam     224
Name: count, dtype: int64

Ratio:
label
ham     0.866029
spam    0.133971
Name: proportion, dtype: float64

## Step 7: Top 10 and Bottom 10 Rows

*That's why if we used 0.1 threshold, all features would be removed

In [22]:
X_train_df = pd.DataFrame(X_train.toarray())

print("\n===== REPORT (7) Top 10 Rows (X_train) =====")
display(X_train_df.head(10))

===== REPORT (7) Top 10 Rows (X_train) =====

,0,1,2,3,4,5,6,7,8,9,...,8662,8663,8664,8665,8666,8667,8668,8669,8670,8671
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
print("\n===== REPORT (7) Bottom 10 Rows (X_train) =====")
display(X_train_df.tail(10))

===== REPORT (7) Bottom 10 Rows (X_train) =====

,0,1,2,3,4,5,6,7,8,9,...,8662,8663,8664,8665,8666,8667,8668,8669,8670,8671
3890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3891,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3892,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3893,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3894,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 8: Classification Matrix

In [17]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Initialize and train Naive Bayes
clf = MultinomialNB()
clf.fit(X_train, y_train)

# Predict
y_pred = clf.predict(X_test)

# Evaluation
acc = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print(f"Accuracy: {acc:.4f}")
print("\nConfusion Matrix:")
print(conf_matrix)
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.9551

Confusion Matrix:
[[1448    0]
 [  75  149]]

Classification Report:
              precision    recall  f1-score   support

         ham       0.95      1.00      0.97      1448
        spam       1.00      0.67      0.80       224

    accuracy                           0.96      1672
   macro avg       0.98      0.83      0.89      1672
weighted avg       0.96      0.96      0.95      1672